# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/roots-share-buttons
!web/app/plugins/wp-sync-db-1.5
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
#web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php
notes

# WordPress
#web/wp
web/.htaccess
web/.htaccess.*

# WP-CLI
#db-sync
#sql-dump-*.sql

# Dotenv
.env
.env.*

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
#!vendor/autoload.php

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# General
db
.DS_Store
