body {
	font-family:@ami;
	background: @bg;
	color:@black;
}

body, input {-webkit-font-smoothing: antialiased;}

h1 {
	font-family:@inf;
	margin-top: 10px;
	font-size: 3em;
	font-weight: 500;
}
time {
	display: block;
	font-family:@karla, sans-serif;
	font-size: 1.6em;
	color:@grey;
	font-weight: 300;
	margin-bottom: 25px;
}
p {
	font-size: 1.3em;
	line-height: 27px;
	margin:0 auto 16px auto;
	font-weight: 300;

	@media @sm {
		line-height: 29px;
	}
}
ul {font-weight: 300;}

p a, li a {color:@green;}

a:hover {
	color:@green;
	text-decoration: none;
}
svg {height: auto;}
article {
	p a:hover, ul a:hover, h1 a:hover, h2 a:hover {border-bottom: solid 2px fade(@green, 80%);}
}
a:focus {text-decoration: none !important; color:@green;}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.wrap {
	position: relative;
	z-index: 999;
	padding-left: 20px;
	padding-right:20px;
	padding-top:20px;
	margin-top: 50px;
}
// .wrap .content {
// 	margin:0 auto;
// 	max-width:1280px;
// }

.home .wrap {z-index: 9999;}

.single, .page, .category, .post-type-archive-work {
	.sidebar-primary {
		.main {
			margin: 0 auto;
			float: none;
			width:auto;
		}
	}
}
@media @sm {
	.single .wrap, .page .wrap, .category .wrap,  .post-type-archive-work .wrap, .tax-type .wrap {padding:20px 40px 0px 40px;}
}

.home .wrap {margin-top: auto;}
.btn svg {
	.icon32;
}
img.svg {display: none !important;}
.main {padding:0 !important;}
.row {margin: 0;}

a.top {
	position: fixed;
	bottom:40px;
	right:40px;
	width:40px;
	height:40px;
	display: none;
	z-index:9999;
	padding:0 !important;
	border:0 !important;
	visibility: hidden;

	@media @sm {visibility: visible;}

	svg {
		transform:rotate(-90deg);
		fill:@grey;
	}
}

hr {
	width:300px;
	.center;
	border-top:solid 2px @grey;
	margin-top: 40px;
	margin-bottom: 50px;
}

.sidebar {display: none;}

article img {
	display: block;
	height: auto;
	.center;
	margin-top: 20px;
	margin-bottom: 30px;
	max-width: 100%;
}
article.type-post .entry-content p:first-of-type::first-letter {
	float: left;
	font-size: 4.5em;
	font-weight: bold;
	line-height: 87px;
	padding:0px 15px 0px 0px;

}
