@font-face {
    font-family: 'Buffon-Thin';
    src: url('../fonts/Buffon-Thin.woff2') format('woff2'),
         url('../fonts/Buffon-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Buffon-Regular';
    src: url('../fonts/Buffon-Regular.woff2') format('woff2'),
         url('../fonts/Buffon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Buffon-Bold';
    src: url('../fonts/Buffon-Bold.woff2') format('woff2'),
         url('../fonts/Buffon-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Buffon-Heavy';
    src: url('../fonts/Buffon-Heavy.woff2') format('woff2'),
         url('../fonts/Buffon-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IslaScriptBeta-Regular';
    src: url('../fonts/IslaScriptBeta-Regular.woff2') format('woff2'),
         url('../fonts/IslaScriptBeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KellerScriptBeta-Regular';
    src: url('../fonts/KellerScriptBeta-Regular.woff2') format('woff2'),
         url('../fonts/KellerScriptBeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FraserBeta-Bold';
    src: url('../fonts/FraserBeta-Bold.woff2') format('woff2'),
         url('../fonts/FraserBeta-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p, h1, h2, h3, h4, h5, h6 {
	color:@black;
}
h4 {
	font-family: @museo;
	font-size: 0.85em;
	font-weight: 500;
	color:@light-grey;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-align: left;
}
ul li, ol li {font-weight: 300;}
@font-face {
	font-family: GT Eesti Display Thin;
	src: url('../fonts/GT-Eesti-Pro-Display-Trial-Thin.otf'),
}
@font-face {
	font-family: GT Eesti Text Regular;
	src: url('../fonts/GT-Eesti-Pro-Text-Trial-Regular.otf'),
}
@font-face {
	font-family: GT Eesti Text Light;
	src: url('../fonts/GT-Eesti-Pro-Text-Trial-Light.otf'),
}
