@font-face {
    font-family: 'Infini';
    src:  url('../fonts/infini-romain.woff') format('woff'),
          url('../fonts/infini-romain-safari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amiri-Regular';
    src: url('../fonts/Amiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla-Regular';
    src: url('../fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p, h1, h2, h3, h4, h5, h6 {
	color:@black;
}
ul li, ol li {font-weight: 300;}
