// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@bg:					#fdfcfb;

@pink:				#FFC5C0;
@black:				#222222;
@grey:				#999694;
@light-grey:	#CCC9C6;
@dark-grey:		#4C4B4A;
@green:				#5CDB71;

@inf:					~"Infini";
@ami:					~"Amiri-Regular";
@karla:				~"Karla-Regular";

@images:				~"../images";

// Media Queries
// -------------------------

@sm:					~"only screen and (min-width : 768px)";
@md:					~"only screen and (min-width : 992px)";
@lg:					~"only screen and (min-width : 1200px)";

@fig-query:					~"only screen and (min-width : 1370px)";

@header-height:			43px;


.icon32 {width:32px;height:32px;}
.icon40 {width:40px;height:40px;}

.spacing {letter-spacing: 0.02em;}

.articlewidth {max-width:700px;}

.center {margin-left:auto;margin-right:auto;}

.border {border-radius:3px;}

.nodrop {
	float: none;
	font-size: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	padding:0 !important;
}
