// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@bg:					#f7f7f7;

@warm-grey:				#faf6f5;

@green:					#4bcc50;
@dark-green:			#1e7021;
@light-green:			#4fd654;

@blue:					#5aa4ed;

@yellow:				#ffde4c;

@red:					#ff470f;

@black:					#1a1a1a;
@grey:					#808080;
@dark-grey:				#333333;
@light-grey:			#a6a6a6;
@lighter-grey:			#cccccc;
@lightest-grey:			#e8e8e8;


// Brand colors
// -------------------------
@museo:					~"museo-sans";
// @museo:					~"GT Eesti Text Regular";
// @tisa:					~"ff-tisa-sans-web-pro";
@tisa:					~"museo-sans";
@eesti:					~"museo-sans";

@images:				~"../images";

// Media Queries
// -------------------------

@sm:					~"only screen and (min-width : 768px)";
@md:					~"only screen and (min-width : 992px)";
@lg:					~"only screen and (min-width : 1200px)";

@fig-query:					~"only screen and (min-width : 1370px)";

@header-height:			43px;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


.icon32 {width:32px;height:32px;}
.icon40 {width:40px;height:40px;}

.spacing {letter-spacing: 0.02em;}

.articlewidth {max-width:700px;}

.center {margin-left:auto;margin-right:auto;}

.border {border-radius:3px;}

.nodrop {
	float: none;
	font-size: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	padding:0 !important;
	font-family: @tisa !important;
}
